# This file is used to create the file structure for the clients

In [2]:
import pandas as pd
import os

import process_client_tree as ProcessClient

# Load the data 
## You first must upload the csv files that contain the transformed data, which can be found in the whatsapp group. This data can also be made using the files Process_Client_add_events_to_purchases.py and process_client_tree.py
However this takes a long time, you also must first use the file Process_Client_add_events_to_purchases.py to add the events to the purchases, and then use the file process_client_tree.py to create the file structure for the clients.

This is will take a very long time because the data is very large, and the process is not optimized (for the Process_Client_add_events_to_purchases.py file). The process_client_tree.py file is optimized for the creation of the file structure for the clients, but it still takes a long time.

In [3]:
data_events = pd.read_csv("processed_data/processed_events_final.csv", sep="|")
data_events

/var/folders/f3/ykt1vfz96xz48try_trwdn440000gn/T/ipykernel_13766/2102814919.py:1: DtypeWarning: Columns (6,24) have mixed types. Specify dtype option on import or set low_memory=False.
  data_events = pd.read_csv("processed_data/processed_events_final.csv", sep="|")

,TIMESTAMP_EVENT,PRICE,PROPOSITION,USER_CLIENT_NUMBER,ARTICLE_CATEGORIE,USER_SESSION_ID,PROMOTION_LABEL,PAGE_NAME,PAGE_SECTION,PAGE_SECTION_POSITION,...,precipitation_coverage_lead_2,precipitation_amount_lead_2,temperature_lead_3,precipitation_coverage_lead_3,precipitation_amount_lead_3,temperature_lead_4,precipitation_coverage_lead_4,precipitation_amount_lead_4,total_spend_on_category_product,total_spend_on_product
0,2022-02-28T14:51:25.349Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,2.0,...,0.0,0.0,2.9,0.0,0.0,1.8,0.0,0.0,0.0,0.00
1,2022-02-28T14:51:46.443Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,2.0,...,0.0,0.0,2.9,0.0,0.0,1.8,0.0,0.0,0.0,0.00
2,2022-02-28T14:52:06.207Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,2.0,...,0.0,0.0,2.9,0.0,0.0,1.8,0.0,0.0,0.0,0.00
3,2022-02-28T14:52:06.211Z,12.5268,349240,386730,"1,091,661,078",933,Actie,Shopping Cart,Recommended Products,1.0,...,0.0,0.0,2.9,0.0,0.0,1.8,0.0,0.0,0.0,0.00
4,2022-02-28T14:51:25.319Z,12.5268,349240,386730,"1,091,661,078",933,Actie,Shopping Cart,Recommended Products,1.0,...,0.0,0.0,2.9,0.0,0.0,1.8,0.0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9935804,2022-01-28T15:48:08.723Z,35.7192,87264,804960,"1,081,451,429",319213,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,196.88
9935805,2022-01-28T15:46:27.480Z,17.1204,594422,804960,"1,011,031,135",319213,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,734.58
9935806,2022-01-28T15:48:43.837Z,18.2424,8749,804960,"1,011,011,555",319213,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,941.96
9935807,2022-01-28T15:48:53.241Z,1.6500,255956,804960,"1,031,161,491",319213,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,61.05
9935808,2022-01-28T15:48:26.590Z,13.9260,70147,804960,"1,081,531,093",319213,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,876.28

In [25]:
purchase_events = pd.read_csv("processed_data/purchase_data_with_categories.csv", sep="|")

# Remove bad column
somehow I added an unnamed column to the dataset, which is not necessary, so I am going to remove it
this will only make the process later more difficult. This is a mistake that I made when I was saving the data

In [26]:
if "Unnamed: 0" in purchase_events.columns:
    purchase_events = purchase_events.drop(columns=["Unnamed: 0"])
purchase_events

,USER_CLIENT_NUMBER,DATE,PROPOSITION,AMOUNT,NUMBER_OF_TIMES_SEEN_30_days,NUMBER_OF_TIMES_SEEN_7_days,NUMBER_OF_TIMES_SEEN_1_days,ARTICLE_CATEGORIE
0,386730,2021-11-30,436883,259.78,2,2,2,"1,112,041,020"
1,386730,2021-10-26,436883,64.94,0,0,0,"1,112,041,020"
2,386730,2022-04-01,77436,12.42,0,0,0,"1,091,611,309"
3,386730,2022-03-25,77436,12.42,0,0,0,"1,091,611,309"
4,386730,2022-04-22,77436,12.42,0,0,0,"1,091,611,309"
...,...,...,...,...,...,...,...,...
11211079,804960,2021-12-13,255956,11.55,1,1,0,"1,031,161,491"
11211080,804960,2022-03-07,255956,8.25,2,1,0,"1,031,161,491"
11211081,804960,2022-01-11,255956,8.25,1,1,1,"1,031,161,491"
11211082,804960,2022-02-14,255956,8.25,2,1,0,"1,031,161,491"
11211083,804960,2021-11-08,255956,8.25,0,0,0,"1,031,161,491"

In [27]:
def save_client_data_to_folder(data_events_table, purchase_events_table, client_id):
    folder_main = str(client_id)
    purchase_file = "purchases.csv"
    data_file = "events.csv"
    
    client_data_events = data_events_table[data_events_table["USER_CLIENT_NUMBER"]==client_id]
    client_purchases = purchase_events_table[purchase_events_table["USER_CLIENT_NUMBER"]==client_id]
    
    
    client_folder = os.path.join("client_data", folder_main)
    
    if not os.path.isdir(client_folder):
        os.mkdir(client_folder)
        
    client_data_events.to_csv(os.path.join(client_folder, data_file), sep="|", index=False)
    client_purchases.to_csv(os.path.join(client_folder, purchase_file), sep ="|", index=False)
    
    return client_data_events, client_purchases
    
client_data, client_purchases = save_client_data_to_folder(data_events, purchase_events, 230)
client_data

,TIMESTAMP_EVENT,PRICE,PROPOSITION,USER_CLIENT_NUMBER,ARTICLE_CATEGORIE,USER_SESSION_ID,PROMOTION_LABEL,PAGE_NAME,PAGE_SECTION,PAGE_SECTION_POSITION,...,precipitation_coverage_lead_2,precipitation_amount_lead_2,temperature_lead_3,precipitation_coverage_lead_3,precipitation_amount_lead_3,temperature_lead_4,precipitation_coverage_lead_4,precipitation_amount_lead_4,total_spend_on_category_product,total_spend_on_product
8341724,2022-03-16T16:01:16.692Z,26.2680,353065,230,"1,091,611,086",7255,NaN,Purchase List,Recommended Products,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00
8341725,2022-03-16T16:01:15.424Z,18.3876,552435,230,"1,081,411,405",7255,NaN,Purchase List,Recommended Products,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,20.37
8341726,2022-03-16T16:01:15.942Z,18.4008,919299,230,"1,091,611,119",7255,NaN,Purchase List,Recommended Products,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,41.13
8341727,2022-03-16T16:01:15.940Z,10.8108,871441,230,"1,091,611,499",7255,NaN,Purchase List,Recommended Products,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.88
8341728,2022-03-16T16:01:16.074Z,17.7804,44146,230,"1,081,411,159",7255,NaN,Purchase List,Recommended Products,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8343334,2022-03-23T13:56:46.455Z,16.4076,821638,230,"1,081,451,275",312089,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,18.14
8343335,2022-03-23T13:58:07.941Z,30.1092,56032,230,"1,081,491,239",312089,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,33.26
8343336,2022-03-23T13:58:30.356Z,40.8144,887534,230,"1,081,501,334",312089,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,45.10
8343337,2022-03-23T13:54:41.376Z,1.8084,798172,230,"1,031,161,491",312089,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.99
8343338,2022-03-23T13:56:06.468Z,25.9248,287654,230,"108,142",312089,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,28.64

In [28]:
unique_clients_purchases = purchase_events["USER_CLIENT_NUMBER"].unique()
unique_clients_events = data_events["USER_CLIENT_NUMBER"].unique()

clients_with_purchases_and_data_events = [client_id for client_id in unique_clients_purchases if client_id in unique_clients_events]
print(len(clients_with_purchases_and_data_events))

10710

In [29]:
for client in clients_with_purchases_and_data_events:
    save_client_data_to_folder(data_events, purchase_events, client)

In [10]:
client_test = ProcessClient.Client("2288", "client_data")
get_table_of_client = client_test.get_table_of_client("purchases")
get_table_of_client

,USER_CLIENT_NUMBER,DATE,PROPOSITION,AMOUNT,NUMBER_OF_TIMES_SEEN_30_days,NUMBER_OF_TIMES_SEEN_7_days,NUMBER_OF_TIMES_SEEN_1_days,ARTICLE_CATEGORIE
0,2288,2021-11-19,748183,1077.71,0,0,0,0
1,2288,2022-02-23,748183,809.41,0,0,0,0
2,2288,2022-03-18,748183,1378.23,0,0,0,0
3,2288,2021-11-12,748183,3880.03,0,0,0,0
4,2288,2021-10-05,748183,1872.20,0,0,0,0
...,...,...,...,...,...,...,...,...
3449,2288,2021-10-19,540378,14.06,0,0,0,"1,021,261,003"
3450,2288,2021-10-14,540378,14.06,0,0,0,"1,021,261,003"
3451,2288,2022-02-03,795826,8.71,1,1,1,"1,101,711,020"
3452,2288,2022-03-19,748465,11.22,1,1,1,"1,031,151,003"
3453,2288,2022-04-02,751805,4.09,0,0,0,"1,031,171,012"

In [3]:
process_clients = ProcessClient.ProcessClientsFolderTree()
client_id_list = process_clients.clientid_list
chunks_to_process = process_clients.setup_chunks_from_client_list(client_id_list, chunk_size=100)

#with multiprocessing.Pool(processes=8) as pool:

#    results = pool.map(process_clients.process_clients_in_chunk, chunks_to_process)

#df_list = []
#with multiprocessing.Pool(processes=8) as pool:

#    results = pool.map(process_clients.aggregate_clients_in_chunk, chunks_to_process)
process_clients.aggregate_clients_multi_processing("events")

Skipping file:  .DS_Store

,Unnamed: 0,TIMESTAMP_EVENT,PRICE,PROPOSITION,USER_CLIENT_NUMBER,ARTICLE_CATEGORIE,USER_SESSION_ID,PROMOTION_LABEL,PAGE_NAME,PAGE_SECTION,...,DEVICE_INFO_BROWSER,USER_SALES_GROUP,USER_SEGMENT,USER_SALES_DISTRICT,USER_PROMOTIONS_ALLOWED,EVENT,DATE,TIME,purchases_7_day_after,purchases_30_day_after
0,24844,2022-02-28T14:51:25.349Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:51:25.349,0,0
1,24845,2022-02-28T14:51:46.443Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:51:46.443,0,0
2,24846,2022-02-28T14:52:06.207Z,25.4760,554657,386730,"1,081,511,193",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:52:06.207,0,0
3,24847,2022-02-28T14:52:06.211Z,12.5268,349240,386730,"1,091,661,078",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:52:06.211,0,0
4,24848,2022-02-28T14:51:25.319Z,12.5268,349240,386730,"1,091,661,078",933,Actie,Shopping Cart,Recommended Products,...,Chrome 98.0.4758.102,Cafetaria/Snackbar,fastservice,Hengelo,1,VIEW,2022-02-28,14:51:25.319,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9937932,9082680,2022-01-28T15:48:08.723Z,35.7192,87264,804960,"1,081,451,429",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:48:08.723,0,0
9937933,9082681,2022-01-28T15:46:27.480Z,17.1204,594422,804960,"1,011,031,135",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:46:27.480,0,0
9937934,9082682,2022-01-28T15:48:43.837Z,18.2424,8749,804960,"1,011,011,555",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:48:43.837,0,0
9937935,9082683,2022-01-28T15:48:53.241Z,1.6500,255956,804960,"1,031,161,491",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:48:53.241,0,0
9937936,9082684,2022-01-28T15:48:26.590Z,13.9260,70147,804960,"1,081,531,093",319213,NaN,NaN,NaN,...,Chrome 97.0.4692.99,Bedrijven Restaurant,restauratief,Helmond,1,ADD_TO_CARD,2022-01-28,15:48:26.590,0,0